.navbar {
    background: blue;
    width: 100%;
    
    color: #fff;
    position: fixed;
    z-index: 100;
}

.navbar li {
    display: inline-block;
    width:33%;
}

/*
.navbar .branndname {
    min-width: 25%;
}

.navbar .instructions {
    min-width: 50%;
}

.navbar .display {
    min-width: 25%;
}
*/
