.jumbotron {
    background:url('../../images/cropedTreeHouse.jpg');
    /*setup for centering text below; using flexbox 'justify-content' and 'align-items'*/
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
}